.container {
  position: sticky;
  top: 0px;

  z-index: 1000;

  background-color: $color-primary;

  header {
    padding: 10px;

    @media screen and (min-width: $dim-breakpoints-small) {
      padding: 12px;
    }

    @media screen and (min-width: $dim-breakpoints-medium) {
      padding: 15px;
    }

    @media screen and (min-width: $dim-breakpoints-large) {
      padding: 20px;
    }

    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .brand {
        text-decoration: none;

        .title {
          margin: 0;
          color: $color-accent;
          font-size: $font-size-big;
        }

        .motto {
          margin: 0;
          color: rgba($color-secondary, 0.7);
          font-size: $font-size-medium;
          letter-spacing: 0.1em;
        }
      }
    }

    nav.mobile {
      padding-top: 10px;

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      a {
        padding: 10px 0px;

        font-size: $font-size-medium;
        text-decoration: none;
      }

      @media (min-width: $dim-breakpoints-small) {
        display: none;
      }
    }

    nav.desktop {
      display: flex;
      align-items: flex-start;
      align-self: flex-end;

      a {
        margin: 0px 20px;

        text-decoration: none;
      }

      @media (max-width: $dim-breakpoints-small) {
        display: none;
      }
    }
  }

  @media (max-width: $dim-breakpoints-small) {
    .motto {
      font-size: $font-size-small;
    }
  }
}
