@import url("https://fonts.googleapis.com/css?family=Quicksand:300");
.stats {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .stats .view {
    flex: 1;
    display: flex; }

.ranking {
  margin: 0;
  padding: 10px 20px;
  height: 205px;
  overflow: auto; }
  .ranking .fa-circle {
    padding: 0 10px; }
