@import '../../_variables.scss';
@import '../../_mixins.scss';

.stats {
	@extend %main;
}

.stats-view {
	@extend %view;
}

.ranking {
	padding: $padding;
	height: 205px;
	overflow: auto;

	.fa-circle {
		padding: 0 10px;
	}
}