@import url("https://fonts.googleapis.com/css?family=Quicksand:300");
.stats {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .stats .view {
    flex: 1;
    display: flex; }

.map {
  flex: 1; }

.ranking {
  flex: 0;
  margin: 0;
  padding: 10px 20px;
  overflow-x: auto; }
  .ranking .fa-circle {
    padding: 0 10px; }
