@import '../../_variables.scss';

.stats {
	display: flex;
	flex-direction: column;
	height: 100%;

	.view {
		flex: 1;
		display: flex;
	}
}

.ranking {
	flex: 0;
	margin: 0;
	padding: $padding;
	overflow-x: auto;

	.fa-circle {
		padding: 0 10px;
	}
}