body {
  margin: 0;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header, .footer {
  flex: 0;
  background: orange;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.view {
  flex: 1;
  background: blue;
  min-height: 200px;
}

.panel {
  flex: 0;
  background: green;
}
