@import '../../_variables.scss';

.live-item {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;

	.live-item-value {
		flex: 0;
		white-space: nowrap;
		padding: 0 10px;
		font-size: $small;
		text-align: right;
	}

	.live-item-icon {
		width: 30px;
		text-align: center;
		border-left: 1px dashed $accent-color;
	}
}

.live-details {
	margin: 0;
	padding: $padding;
}

.live-view {
	flex: 1;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	filter: grayscale(1);
}

.live {
	display: flex;
	flex-direction: column;
	height: 100%;
}