@import '../../_variables.scss';
@import '../../_mixins.scss';
@import '../../_animations.scss';

.live {
	@extend %main;
}

.live-item {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.live-details {
	padding: $padding;
	transform: translate(-1px);
}

.live-item-value {
	flex: 0;
	white-space: nowrap;
	padding: 0 10px;
}

.live-item-icon {
	text-align: center;

	.fa {
		width: $btn-width;
		border-left: 1px dashed $accent-color;
	}
}

.live-view {
	@extend %view;
}

.live-attribution {
	display: inline;
	width: 100%;
	padding: 0 $h-padding;
	font-size: $micro;
	background: $link-color;
	color: $secondary-color;

	a:hover {
		color: $accent-color;
	}

	a {
		@include muted($secondary-color);
	}
}

.carousel,
.carousel-inner,
.carousel-item,
.carousel-view {
	height: 100%;
}

.carousel-view {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	filter: grayscale(1);
}

.carousel-indicators {
	li {
		width: 10px !important;
		height: 10px !important;
		border-radius: 100% !important;
	}
}