@import '../../_variables.scss';
@import '../../_mixins.scss';

.live-item {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.live-details {
	padding: $padding;
	transform: translate(-1px);
}

.live-item-value {
	flex: 0;
	white-space: nowrap;
	padding: 0 10px;
}

.live-item-icon {
	text-align: center;

	.fa {
		width: 40px;
		border-left: 1px dashed $accent-color;
	}
}

.live-view {
	flex: 1;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	filter: grayscale(1);
}

.live {
	display: flex;
	flex-direction: column;
	height: 100%;
}