@import './_variables.scss';
@mixin shade($color) {
	background: linear-gradient(to left, rgba($color, 0), rgba($color, 1), rgba($color, 0));
}
@mixin muted($color) {
	color: rgba($color, 0.5);
}

%no-space {
	margin: 0;
	border: 0;
	padding: 0;
}

%primary {
	background-color: $primary-color;
	color: $accent-color;
}

%secondary {
	background-color: $secondary-color;
	color: $accent-color;
}