@import url("https://fonts.googleapis.com/css?family=Quicksand:300");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300");
button, h1, h2, hr, div,
span {
  margin: 0;
  border: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  height: 100%;
  font-family: "Quicksand", sans-serif;
  font-size: 12pt; }

a {
  color: #2c3d5e;
  text-decoration: none; }

a:hover {
  color: #f4931d;
  text-decoration: none; }

button {
  width: 40px;
  color: #f4931d;
  background: none; }

button:hover {
  color: #2c3d5e;
  outline: none; }

button:focus {
  color: #f4931d;
  outline: none; }

button:focus:hover {
  color: #2c3d5e; }

h1 {
  font-size: 24pt; }

h2 {
  font-size: 14pt; }

p {
  text-align: justify; }

ul {
  list-style-type: none; }

hr {
  height: 1px;
  background: linear-gradient(to left, rgba(244, 147, 29, 0), #f4931d, rgba(244, 147, 29, 0)); }

div,
span {
  border-radius: 0; }

#root {
  height: 100%; }
