@import url('https://fonts.googleapis.com/css?family=Poiret+One|Quicksand:300');

$dark-color: #070400;
$light-color: #f4931d;
$link-color: #2c3d5e;
$white-color: #e0dddb;

$big: 32pt;
$medium: 24pt;
$small: 14pt;

$p-v: 10px;
$p-h: 20px;

$p: $p-v $p-h;
