@import './_variables.scss';
@import './_mixins.scss';
@import './_animations.scss';

body {
    font-family: $font;
    font-size: $small;
}

a {
    color: $link-color;
    text-decoration: none;
}

a:hover {
    color: $accent-color;
    text-decoration: none;
}

button {
    @extend %no-space;
    color: $accent-color;
    background: none;
}

button:hover {
    color: $link-color;
    outline: none;
    cursor: pointer;
}

button:focus {
    color: $accent-color;
    outline: none;
}

button:focus:hover {
    color: $link-color;
}

h1 {
    @extend %no-space;
    font-size: $big;
    color: $accent-color;
}

h2 {
    @extend %no-space;
    font-size: $medium;
}

p {
    text-align: justify;
}

ul {
    list-style-type: none;
}

hr {
    @extend %no-space;
    @include shade($link-color);
    height: 1px;
    animation: fadein 3s;
}

div,
span {
    @extend %no-space;
    border-radius: 0;
}

.form-control:focus {
    border-color: rgba($accent-color, 0.5);
    box-shadow: inset 0 1px 1px rgba($accent-color, 0.075), 0 0 8px rgba($accent-color, 0.6);
}

#root {
    height: 100%;
}