<html>
  <head>
    <title>world's hottest city, now - Hot Cities</title>
    <meta charset="utf-8">
    <meta name="description" content="Hot Cities monitors world cities temperatures in real time from global weather services to determine the hottest one, right now.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:url" content="http://www.hotcities.world">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Hot Cities - world's hottest city, now.">
    <meta property="og:description" content="Hot Cities monitors world cities temperatures in real time from global weather services to determine the hottest one, right now.">
    <meta property="og:image" content="http://www.hotcities.world/assets/logo.png">
    <meta property="og:image:width" content="64">
    <meta property="og:image:height" content="64">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css">
    <link rel="stylesheet" type="text/css" href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body>
    {{{ body }}}
    <script type="text/javascript" src="/client.bundle.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
