$x-padding: 20px;
$y-padding: 10px;
$padding: $y-padding $x-padding;
$view-min-height: 250px;

$font: 'Quicksand', sans-serif;
$font-small: 0.8em;
$font-medium: 1em;
$font-big: 1.6em;

$primary-color: #fff;
$secondary-color: #191a1a;
$accent-color: #fc900c;

$break-small: 360px;
