@import './_vars.scss';
@import './_mixins.scss';

body {
  @extend %no-space;
  @extend %primary;
  font-family: $font;
  font-size: $font-medium;
  height: 100vh;
}

a {
  color: $secondary-color;
  &:hover {
    color: $accent-color;
  }
}

hr {
	@extend %no-space;
	@include shade($secondary-color);
	height: 1px;
}