@import './_vars.scss';
@import './_mixins.scss';

body {
  @extend %no-space;
  @extend %primary;
  font-family: $font;
  font-size: $font-medium;
  height: 100vh;
}

a {
  color: $secondary-color;
  &:hover {
    color: $accent-color;
  }
}

button {
  @extend %no-space;
  color: $accent-color;
  background: none;
  &:hover {
    color: $secondary-color;
    outline: none;
    cursor: pointer;
  }
  &:focus {
    color: $accent-color;
    outline: none;
  }
}

hr {
  @extend %no-space;
  @include shade($secondary-color);
  height: 1px;
}
