@import '../../style/_vars.scss';
@import '../../style/_mixins.scss';

.thermometer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .temp {
    flex-wrap: nowrap;
    font-size: 0.8em;
  }
  .meter {
    @include thermometer($secondary-color);
    height: 5px;
    margin-top: 2px;
    border-right: 2px solid $secondary-color;
    display: flex;
    align-items: stretch;
    .level {
      justify-content: flex-start;
      background-color: $accent-color;
    }
  }
}
