.container {
  width: 100%;
  min-width: 200px;

  .meter {
    width: 100%;
    background: linear-gradient(to right, rgba($color-secondary, 1), rgba($color-secondary, 0));
    height: 5px;
    margin-top: 2px;
    border-right: 1px solid $color-secondary;
    display: flex;
    align-items: stretch;
  }

  .level {
    justify-content: flex-start;
    background-color: $color-accent;
  }
}
