extends layout

block content
  div.row
    div.col-md-12
      div.row.info
        div.col-md-6.city-info
          div.city-name #{city}
          div.city-coords #{coords}
        div.col-md-6.weather-info
          div.weather-temp #{temp}
