doctype html
html(lang='en', style='background-image: url(#{view})')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title='HotCities'
    block css
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Quicksand:300')
      link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
    block js
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
      script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')

  body
    div.container-fluid
      div.row.header
        div.col-md-12.title HOTCITIES
        div.col-md-12.description w o r l d . h o t t e s t . c i t y . n o w
      block content
