doctype html
html(lang='en', style='background-image: url(#{view})')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title='HotCities'
    block css
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Quicksand:300')
      link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
    block js
      script(src='/bower_components/jquery/dist/jquery.js')
      script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')

  body
    div.container-fluid
      div.row.header
        div.col-md-12.title HOTCITIES
        div.col-md-12.description w o r l d . h o t t e s t . c i t y . n o w
      block content
