@import url("https://fonts.googleapis.com/css?family=Poiret+One|Quicksand:300");
.loading {
  height: 100%;
  padding: 10px 20px;
  font-size: 24pt;
  color: #070400;
  padding: 10px 20px; }
  .loading .fa {
    padding: 10px 20px; }
