.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0;
}

.main {
  flex: 1;
  flex-basis: auto;
  display: flex;
  flex-direction: column;
}

.footer {
  flex: 0;
}
