@import '../../style/mixins.scss';

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .header {
    flex: 0;
  }
  .main {
    @extend %content;
  }
  .footer {
    flex: 0;
  }
}
