@import '../../style/_variables.scss';
@import '../../style/_mixins.scss';
@import '../../style/_animations.scss';

.live {
	@extend %content;
}

.view {
	@extend %view;
}

.panel {
	@extend %panel;
}

.details {
	display: block;
}

.item {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.itemValue {
	flex: 0;
	white-space: nowrap;
	padding: 0 10px;
}

.itemIcon {
	text-align: center;
}

.itemIcon :global(.fa) {
	width: $btn-width;
	border-left: 1px dashed $accent-color;
}
