html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  transition: background 0.5s linear;
}

body {
  background: transparent;
  color: #ccc;
  font-family: 'Quicksand', sans-serif;
}

a {
  color: rgb(244, 158, 66);
}

.header {
  background: rgba(0, 0, 0, 0.95);
  color: rgba(244, 158, 66, 1);
  text-align: center;
}

.header {
  background: rgba(0, 0, 0, 0.95);
  color: rgba(244, 158, 66, 1);
  text-align: center;
}

.title {
  font-size: 48pt;
}

.description {
  color: #f49e42;
  font-size: 16pt;
  margin-top: -25px;
}

.info {
  background: linear-gradient(to bottom,  rgba(244, 158, 66, 1) 0%, rgba(0, 0, 0, 0) 100%);
  color: black;
}

.city-info {
  border-right: 2px solid #000;
  text-align: right;
}

.city-name {
  font-size: 48pt;
}

.city-coords {
  font-size: 24pt;
}

.weather-info {
  text-align: left;
}

.weather-temp {
  font-size: 48pt;
}
