@import url('https://fonts.googleapis.com/css?family=Quicksand:300');
$primary-color: #fff;
$secondary-color: #fff;
$accent-color: #fc900c;
$link-color: #191a1a;
$font: 'Quicksand', sans-serif;
$big: 24pt;
$medium: 14pt;
$small: 12pt;
$micro: 8pt;
$v-padding: 10px;
$h-padding: 20px;
$padding: $v-padding $h-padding;
$btn-width: 40px;
$view-min-height: 250px;