@import url("https://fonts.googleapis.com/css?family=Quicksand:300");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300");
.api {
  background-color: #fff;
  color: #fc900c; }

.api {
  flex: 1;
  padding: 10px 20px;
  overflow: auto; }
  .api p {
    text-align: left; }
  .api .form-control {
    width: auto; }
  .api .form-control:focus {
    border-color: rgba(252, 144, 12, 0.5);
    box-shadow: inset 0 1px 1px rgba(252, 144, 12, 0.075), 0 0 8px rgba(252, 144, 12, 0.6); }
  .api label {
    padding: 0 10px; }
