.row {
  border-bottom: 1px solid rgba($color-secondary, 0.1);

  &:hover {
    background-color: rgba($color-secondary, 0.05);
  }

  td {
    color: $color-accent;
    white-space: wrap;
  }

  .score,
  .recordfrac,
  .recordtemp {
    white-space: nowrap;
  }
}
