@import '../../style/_vars.scss';
@import '../../style/_mixins.scss';

.slideshow {
  @extend %view;
  .photo {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: grayscale(1);
  }
  .attribution {
    flex: 0;
    @extend %space;
    @extend %secondary;
    font-size: $font-small;
  }
}

:global {
  .carousel,
  .carousel-inner,
  .carousel-item {
    height: 100%;
  }
  .carousel-indicators {
    li {
      width: 10px;
      height: 10px;
      border-radius: 100%;
    }
  }
}
