@import url("https://fonts.googleapis.com/css?family=Quicksand:300");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300");
.info-panel {
  background-color: #fff;
  color: #fc900c; }

.info-panel {
  display: flex;
  flex-direction: column; }

.info-panel-title {
  flex: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; }
