@import '../../style/_variables.scss';
@import '../../style/_mixins.scss';

.info-panel {
	@extend %secondary;
	display: flex;
	flex-direction: column;
}

.info-panel-title {
	flex: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: $padding;
}

.info-panel-details {}
