@import '../../_variables.scss';

.info-panel {
	display: flex;
	flex-direction: column;
	background-color: $secondary-color;
	color: $accent-color;
	padding: 0;
	margin: 0;
}

.info-panel-title {
	flex: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	padding: $padding;

	h1 {
		margin: 0;
		font-size: $big;
	}
}

.info-panel-details {
	margin: 0;
	padding: 0;
}