.container {
  position: relative;

  flex: 1;

  color: $color-accent;

  .navigation {
    position: absolute;
    bottom: 100%;

    width: 100%;

    display: flex;
    justify-content: center;
  }

  .info {
    padding: 10px 20px;
    background-color: $color-primary;
  }
}
