@import '../../style/_vars.scss';
@import '../../style/_mixins.scss';

.panel {
  @extend %primary;
  .bar {
    @extend %space;
    width: 100vw;
    display: flex;
    align-content: space-between;
    h1 {
      flex: 1;
      color: $accent-color;
      font-size: $font-big;
    }
  }
  .details {
    @extend %space;
  }
}
