@import '../../style/vars.scss';
@import '../../style/mixins.scss';

.item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transform: translateX(18px);
  .icon {
    width: 60px;
    border-left: 1px dashed $accent-color;
  }
  .value {
    padding: 0 10px;
    text-align: right;
  }
}
