@import '../../style/variables.scss';

.endpoint {
  button {
    color: $link-color;
    margin-right: 10px;
  }

  .description {
    min-width: 500px;
    padding-right: 100px;
    word-wrap: break-word;
    white-space: normal;
  }

  .tryItOut {
    max-width: 400px;
    .inputGroup {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      align-content: space-between;
      justify-content: flex-start;
      padding: 10px 0;
      .inputGroupTitle {
        flex: 0;
      }
      .params {
        flex: 1;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        .param {
          width: 300px;
          display: flex;
          justify-content: flex-end;
          input {
            margin-left: 5px;
          }
        }
      }
    }
    .launchpad {
      display: flex;
      align-content: flex-end;
      padding: 10px 0;
      .http {
        flex: 1;
        overflow: auto;
      }
      .go {
        button {
          color: $accent-color;
          &:hover {
            color: $link-color;
          }
        }
      }
    }
  }
}

:global(.modal-body) {
  code {
    color: $accent-color;
  }
}
