.ranking {
  overflow: auto;
  color: $color-accent;

  table {
    width: 100%;
    min-width: 600px;

    border-collapse: collapse;

    table-layout: fixed;

    thead {
      tr {
        border-bottom: 1px solid rgba($color-secondary, 0.5);
      }

      th,
      th button {
        padding: 5px 0px;

        font-family: monospace;
        font-size: $font-size-medium;
        font-weight: 700;
        text-transform: uppercase;
        text-align: left;
      }
    }

    tr th:nth-child(1) {
      width: 30px;
    }

    tr th:nth-child(2) {
      width: 42%;
    }
  }
}
