.ranking {
  overflow: auto;

  table {
    width: 100%;
    min-width: 600px;

    table-layout: fixed;
    border-collapse: collapse;

    thead {
      tr {
        border-bottom: 1px solid rgba($color-secondary, 0.5);
      }

      th,
      th button {
        padding: 0.5rem 0;

        @include typography-normal($font-size: $font-size-small);
      }
    }

    tr th:nth-child(1) {
      width: 30px;
    }

    tr th:nth-child(2) {
      width: 42%;
    }
  }

  .more {
    padding: 1rem 0;

    @include typography-capitalized;

    color: rgba($color-secondary, 0.5);

    &:hover {
      color: $color-accent;
    }

    span {
      margin-left: 30px;
      margin-right: 1rem;
    }
  }
}
