.container {
  .bar {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "city city" "thermometer temp";
    align-items: center;
    grid-gap: 0rem 2rem;

    .city {
      grid-area: city;
      margin: 0.25rem 0rem;
    }

    .thermometer {
      grid-area: thermometer;
    }

    .temp {
      grid-area: temp;
      margin: 0.25rem 0rem;
      justify-self: end;
    }

    @media (min-width: $dim-breakpoints-small) {
      grid-template-columns: auto 1fr auto;
      grid-template-areas: "city thermometer temp";
    }
  }

  p {
    font-weight: 500;
    letter-spacing: 0.1em;

    b {
      text-decoration: underline;
      margin-left: 5px;
    }
  }
}
