.container {
  .bar {
    padding: 10px 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0px 10px;

    .temp {
      flex: 1;

      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0px 10px;

      .thermometer {
        flex: 1;
      }

      h3 {
        white-space: nowrap;
      }
    }

    @media (min-width: $dim-breakpoints-small) {
      gap: 0px 9%;

      .city {
        font-size: $font-size-big;
      }

      .temp {
        flex: 1;
        gap: 0px 9%;
      }
    }
  }

  p {
    font-weight: 500;
    letter-spacing: 0.1em;

    b {
      text-decoration: underline;
      margin-left: 5px;
    }
  }
}
