.container {
  .bar {
    padding: 10px 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    .city {
      margin-right: 50px;
    }

    .temp {
      margin-left: 50px;
    }

    .thermometer {
      flex: 1;
    }
  }

  p {
    font-weight: 500;
    letter-spacing: 0.1em;

    b {
      text-decoration: underline;
      margin-left: 5px;
    }
  }
}
