.selector {
  padding: 0.5rem;

  flex: 1;

  @include typography-capitalized;

  background-color: mix($color-primary, $color-secondary, 75%);
  color: $color-secondary;

  &:hover {
    background-color: mix($color-primary, $color-secondary, 90%);
    color: $color-secondary;
  }

  @media screen and (min-width: $dim-breakpoints-small) {
    padding: 10px 12px;
  }

  @media screen and (min-width: $dim-breakpoints-medium) {
    padding: 10px 15px;
  }

  @media screen and (min-width: $dim-breakpoints-large) {
    padding: 10px 20px;
  }
}

.active {
  background-color: $color-primary;
  color: $color-accent;

  &:hover {
    background: $color-primary;
    color: $color-accent;
  }
}
