.selector {
  z-index: 1000;

  margin: 0px 3px;
  padding: 0px 50px;

  flex: 0;

  font-size: $font-size-big;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: mix($color-primary, $color-secondary, 75%);
  color: $color-secondary;

  border-radius: 20px 20px 0px 0px;

  &:hover {
    background-color: mix($color-primary, $color-secondary, 90%);
    color: $color-secondary;
  }
}

.active {
  background-color: $color-primary;
  color: $color-accent;

  &:hover {
    background: $color-primary;
    color: $color-accent;
  }
}
