@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.map {
  position: sticky;
  top: -15vh;

  min-height: 60vh;

  background-color: $color-secondary;

  animation: fadein 2s;
}
