@import '../../_variables.scss';

.views {
    padding: $padding;

    form {
        display: flex;

        .form-group {
            flex: 1;
            padding-right: 10px;

            input {
                width: 100%;
            }
        }

        button {
            flex: 0;
        }
    }

    .view-list {
        margin-top: 10px;

        .card {
            width: 80%;
            margin-top: 10px;

            .btn-group {
                width: 100%;
            }
        }
    }
}