@import url("https://fonts.googleapis.com/css?family=Quicksand:300");
.view-list {
  padding-top: 10px; }

.view {
  padding-bottom: 5px; }
  .view .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.views {
  padding: 10px 20px; }
  .views .search-bar {
    padding: 10px 0; }

.btn-group {
  width: 100% !important; }
  .btn-group button {
    width: 50% !important; }
