@import '../../_variables.scss';

.view-list {
    padding-top: 10px;
}

.view {
    padding-bottom: 5px;

    .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.views {
    padding: $padding;

    .search-bar {
        padding: 10px 0;
    }
}

.btn-group {
    width: 100%!important;

    button {
        width: 50%!important;
    }
}