$font-family: 'Quicksand', sans-serif;

$font-size-tiny: 0.8rem;
$font-size-small: 0.9rem;
$font-size-medium: 1rem;
$font-size-large: 1.5rem;
$font-size-big: 2rem;

$color-primary: #fff;
$color-secondary: #191a1a;
$color-accent: #fc900c;

$dim-padding: 10px 20px;

$dim-breakpoints-small: 540px;
$dim-breakpoints-medium: 720px;
$dim-breakpoints-large: 960px;

:export {
  primary: $color-primary;
  secondary: $color-secondary;
  accent: $color-accent;
}
