@import '../../style/_variables.scss';
@import '../../style/_mixins.scss';

.header {
	@extend %primary;
	flex: 0;

	nav {
		display: flex;
		flex-direction: row;
		align-items: baseline;
		padding: $padding;

		.title {
			color: $accent-color;
		}

		.motto {
			@include muted($link-color);
			letter-spacing: 0;
		}
	}
}

.header-menu {
	font-size: $small;
}
