@import url("https://fonts.googleapis.com/css?family=Quicksand:300");
.header {
  background-color: #fff;
  color: #f4931d;
  flex: 0; }
  .header nav {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 10px 20px; }
    .header nav .navbar-header a {
      color: #f4931d; }
    .header nav .navbar-header .title {
      font-size: 24pt; }
    .header nav .navbar-header .motto {
      font-size: 12pt;
      letter-spacing: 0;
      color: #2c3d5e; }

.header-menu {
  font-size: 12pt; }
