@import '../../_variables.scss';

.header {
	background-color: $primary-color;
	color: $accent-color;
	flex: 0;

	nav {
		display: flex;
		flex-direction: row;
		align-items: baseline;
		padding: $padding;

		.navbar-header {
			a {
				color: $accent-color;
			}

			.title {
				font-size: $big;
			}

			.motto {
				font-size: $small;
				letter-spacing: 5px;
				color: $link-color;
			}
		}
	}
}

.header-menu {
	font-size: $small;
}