@import url("https://fonts.googleapis.com/css?family=Quicksand:300");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300");
.header {
  background-color: #fff;
  color: #f4931d; }

.header {
  flex: 0; }
  .header nav {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 10px 20px; }
    .header nav .title {
      color: #f4931d; }
    .header nav .motto {
      color: rgba(44, 61, 94, 0.5);
      letter-spacing: 0; }

.header-menu {
  font-size: 12pt; }
