@import url("https://fonts.googleapis.com/css?family=Quicksand:300");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300");
.about {
  background-color: #fff;
  color: #fc900c; }

.about {
  padding: 10px 20px;
  overflow: auto; }
