.container {
  margin: 0.5rem 0px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  .icon {
    width: 2rem;

    display: flex;
    justify-content: flex-start;

    border-right: 1px dashed $color-accent;
  }

  .value {
    padding: 0 1rem;
    text-align: left;
  }
}
