* {
  box-sizing: border-box;
}

body {
  margin: 0;
  border: 0;
  padding: 0;

  font-size: 14px;

  @include typography-normal;
}

h1,
h2,
h3 {
  @include typography-heading;
}

a {
  border: 0;
  color: $color-secondary;

  &:hover {
    color: $color-accent;
  }
}

button {
  margin: 0;
  border: 0;
  padding: 0;

  background-color: $color-primary;
  color: $color-accent;

  &:hover {
    color: $color-secondary;
    outline: none;
    cursor: pointer;
  }

  &:focus {
    color: $color-accent;
    outline: none;
  }
}

hr {
  margin: 0;
  border: 0;
  padding: 0;

  background: linear-gradient(to left, rgba($color-secondary, 0), rgba($color-secondary, 1), rgba($color-secondary, 0));
  height: 1px;
}

@media screen and (min-width: $dim-breakpoints-small) {
  body {
    font-size: 15px;
  }
}

@media screen and (min-width: $dim-breakpoints-medium) {
  body {
    font-size: 16px;
  }
}

@media screen and (min-width: $dim-breakpoints-large) {
  body {
    font-size: 18px;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
