@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: $font-family;
  font-weight: 300;
  font-size: 14px;
}

@media (min-width: $dim-breakpoints-small) {
  body {
    font-size: 15px;
  }
}

@media (min-width: $dim-breakpoints-medium) {
  body {
    font-size: 16px;
  }
}

@media (min-width: $dim-breakpoints-large) {
  body {
    font-size: 18px;
  }
}

h1 {
  font-weight: 300;
}

th {
  font-weight: 400;
}

a {
  border: 0;
  color: $color-secondary;
}

a:hover {
  color: $color-accent;
}

button {
  margin: 0;
  border: 0;
  padding: 0;
  color: $color-accent;
  background: none;
}

button a {
  border: 0;
}

button:hover {
  color: $color-secondary;
  outline: none;
  cursor: pointer;
}

button:focus {
  color: $color-accent;
  outline: none;
}

hr {
  margin: 0;
  border: 0;
  padding: 0;
  background: linear-gradient(to left, rgba($color-secondary, 0), rgba($color-secondary, 1), rgba($color-secondary, 0));
  height: 1px;
}

th {
  color: $color-accent;
  font-weight: 500;
}
